In [1]:
impoort pandas as pd
data = pd.Dataframe(P{'group':['a','a','a','b','b','b','c','c','c'],'ounces': [4,3,12,6,7.5,8,3,5,6]})

SyntaxError: invalid syntax (<ipython-input-1-b6cf4eeab7da>, line 1)

In [3]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [4]:
data.describe()

          ounces
count   9.000000
mean    6.055556
std     2.855307
min     3.000000
25%     4.000000
50%     6.000000
75%     7.500000
max    12.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 216.0+ bytes

In [8]:
import pandas as pd
data = pd.DataFrame({'Grp': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'Ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6],
                    'status':[t,f,t,t,f,t,t,f]})
data

NameError: name 't' is not defined

In [9]:
import pandas as pd
data = pd.DataFrame({'Grp': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'Ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6],
                    'status':[1,0,1,1,0,1,0,1,0]})
data

  Grp  Ounces  status
0   a     4.0       1
1   a     3.0       0
2   a    12.0       1
3   b     6.0       1
4   b     7.5       0
5   b     8.0       1
6   c     3.0       0
7   c     5.0       1
8   c     6.0       0

In [10]:
import pandas as pd
data = pd.DataFrame({'Grp': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'Ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6],
                    'status':[1,0,1,1,0,1,0,1]})
data

ValueError: arrays must all be same length

In [11]:
import pandas as pd
data = pd.DataFrame({'Grp': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'Ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6],
                    'status':[1,0,1,1,0,1,0,1,0,1]})
data

ValueError: arrays must all be same length

In [12]:
import pandas as pd
data = pd.DataFrame({'Grp': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'Ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6],
                    'status':[1,0,1,1,0,1,0,1,0]})
data

  Grp  Ounces  status
0   a     4.0       1
1   a     3.0       0
2   a    12.0       1
3   b     6.0       1
4   b     7.5       0
5   b     8.0       1
6   c     3.0       0
7   c     5.0       1
8   c     6.0       0

In [13]:
data.describe()

          Ounces    status
count   9.000000  9.000000
mean    6.055556  0.555556
std     2.855307  0.527046
min     3.000000  0.000000
25%     4.000000  0.000000
50%     6.000000  1.000000
75%     7.500000  1.000000
max    12.000000  1.000000

In [15]:
data.sort_values(by=['Grp','Ounces','status'], ascending=[False, True, True], inplace=True)
data

  Grp  Ounces  status
6   c     3.0       0
7   c     5.0       1
8   c     6.0       0
3   b     6.0       1
4   b     7.5       0
5   b     8.0       1
1   a     3.0       0
0   a     4.0       1
2   a    12.0       1

In [16]:
data.sort_values(by=['Grp','Ounces','status'], ascending=[False, True, True], inplace=False)
data

  Grp  Ounces  status
6   c     3.0       0
7   c     5.0       1
8   c     6.0       0
3   b     6.0       1
4   b     7.5       0
5   b     8.0       1
1   a     3.0       0
0   a     4.0       1
2   a    12.0       1

In [17]:
import pandas as pd
Data =pd.DataFrame({'grp':['a']*3 +['b']*2, 'ounces':[1,2,4,3,1,]})
data

  Grp  Ounces  status
6   c     3.0       0
7   c     5.0       1
8   c     6.0       0
3   b     6.0       1
4   b     7.5       0
5   b     8.0       1
1   a     3.0       0
0   a     4.0       1
2   a    12.0       1

In [18]:
import pandas as pd
Data =pd.DataFrame({'grp':['a']*3 +['b']*2, 'ounces':[1,2,4,3,1,]})

In [19]:
import pandas as pd
Data =pd.DataFrame({'grp':['a']*3 +['b']*2, 'ounces':[1,2,4,3,1,]})
Data

  grp  ounces
0   a       1
1   a       2
2   a       4
3   b       3
4   b       1

In [20]:
describe.Data()

NameError: name 'describe' is not defined

In [21]:
Data.describe()

        ounces
count  5.00000
mean   2.20000
std    1.30384
min    1.00000
25%    1.00000
50%    2.00000
75%    3.00000
max    4.00000

In [22]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
grp       5 non-null object
ounces    5 non-null int64
dtypes: int64(1), object(1)
memory usage: 152.0+ bytes

In [23]:
Data.drop_duplicates()

  grp  ounces
0   a       1
1   a       2
2   a       4
3   b       3
4   b       1

In [25]:
Data.drop_duplicates(subset='grp')

  grp  ounces
0   a       1
3   b       3

In [26]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [27]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [28]:
data['animal'] = data['food'].map(str).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     NaN
4  corned beef     7.5     cow
5        Bacon     8.0     NaN
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [29]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [30]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data
#comment: it is used for mapping food column with animal

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [31]:


data['animal'] = data['food'].map(str.lower)
data

          food  ounces       animal
0        bacon     4.0        bacon
1  pulled pork     3.0  pulled pork
2        bacon    12.0        bacon
3     Pastrami     6.0     pastrami
4  corned beef     7.5  corned beef
5        Bacon     8.0        bacon
6     pastrami     3.0     pastrami
7    honey ham     5.0    honey ham
8     nova lox     6.0     nova lox

In [32]:


data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [33]:

data = pd.read_csv('C:\Users\BBY\Downloads\ml-1m\ml-1m')

IOError: Initializing from file failed

In [34]:
df = pd.read_csv('C:\Users\BBY\Downloads\ml-1m\ml-1m')
df

IOError: Initializing from file failed

In [35]:
location=r'C:\Users\BBY\Downloads\ml-1m\ml-1m'

In [36]:
data = pd.read_csv(location,header=None)

IOError: Initializing from file failed

In [37]:
import pandas as pd

In [40]:
location ='C:\Users\BBY\Desktop\data_science\ml-1m'

In [39]:
data = pd.read_csv(location,header=None)

IOError: Initializing from file failed

In [44]:
location =r'C:\Users\BBY\Desktop\data_science\ml-1m'

In [42]:
d1 = pd.read_csv(location,header=None)

IOError: Initializing from file failed

In [43]:
d1 = pd.read_csv(location,header=None)

IOError: Initializing from file failed

In [45]:
location =r'C:\Users\BBY\Desktop\data_science\ml-1m'

In [46]:
d1 = pd.read_csv(location,header=None)

IOError: Initializing from file failed

In [47]:
data = pd.read_csv(location,header=None)

IOError: Initializing from file failed

In [48]:
location=r'C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv'

In [49]:
data = pd.read_csv(location,header=None)

In [51]:
data.describe()

                               0
count                    1000209
unique                   1000209
top     2063::3269::3::974664026
freq                           1

In [52]:
data

                                0
0           1::1193::5::978300760
1            1::661::3::978302109
2            1::914::3::978301968
3           1::3408::4::978300275
4           1::2355::5::978824291
5           1::1197::3::978302268
6           1::1287::5::978302039
7           1::2804::5::978300719
8            1::594::4::978302268
9            1::919::4::978301368
10           1::595::5::978824268
11           1::938::4::978301752
12          1::2398::4::978302281
13          1::2918::4::978302124
14          1::1035::5::978301753
15          1::2791::4::978302188
16          1::2687::3::978824268
17          1::2018::4::978301777
18          1::3105::5::978301713
19          1::2797::4::978302039
20          1::2321::3::978302205
21           1::720::3::978300760
22          1::1270::5::978300055
23           1::527::5::978824195
24          1::2340::3::978300103
25            1::48::5::978824351
26          1::1097::4::978301953
27          1::1721::4::978300055
28          1::1545::4::978824139
29           1::745::3::978824268
...                           ...
1000179  6040::2762::4::956704584
1000180  6040::1036::3::956715455
1000181   6040::508::4::956704972
1000182  6040::1041::4::957717678
1000183  6040::3735::4::960971654
1000184  6040::2791::4::956715569
1000185  6040::2794::1::956716438
1000186   6040::527::5::956704219
1000187  6040::2003::1::956716294
1000188   6040::535::4::964828734
1000189  6040::2010::5::957716795
1000190  6040::2011::4::956716113
1000191  6040::3751::4::964828782
1000192  6040::2019::5::956703977
1000193   6040::541::4::956715288
1000194  6040::1077::5::964828799
1000195  6040::1079::2::956715648
1000196   6040::549::4::956704746
1000197  6040::2020::3::956715288
1000198  6040::2021::3::956716374
1000199  6040::2022::5::956716207
1000200  6040::2028::5::956704519
1000201  6040::1080::4::957717322
1000202  6040::1089::4::956704996
1000203  6040::1090::3::956715518
1000204  6040::1091::1::956716541
1000205  6040::1094::5::956704887
1000206   6040::562::5::956704746
1000207  6040::1096::4::956715648
1000208  6040::1097::4::956715569

[1000209 rows x 1 columns]

In [57]:
loc='C:\Users\BBY\Desktop\data_science\ml-1m\movies'

In [54]:
data=pd.read_csv(location,header=None)

In [59]:
data=pd.read_csv(loc)

IOError: File C:\Users\BBY\Desktop\data_science\ml-1m\movies does not exist

In [60]:
data=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\movies.csv',header=None)

CParserError: Error tokenizing data. C error: Expected 1 fields in line 11, saw 2

In [62]:
data=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\movies.csv',sep="::")

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [63]:
data

,1,Toy Story (1995),Animation|Children's|Comedy
0,2,Jumanji (1995),Adventure|Children's|Fantasy
1,3,Grumpier Old Men (1995),Comedy|Romance
2,4,Waiting to Exhale (1995),Comedy|Drama
3,5,Father of the Bride Part II (1995),Comedy
4,6,Heat (1995),Action|Crime|Thriller
5,7,Sabrina (1995),Comedy|Romance
6,8,Tom and Huck (1995),Adventure|Children's
7,9,Sudden Death (1995),Action
8,10,GoldenEye (1995),Action|Adventure|Thriller
9,11,"American President, The (1995)",Comedy|Drama|Romance
10,12,Dracula: Dead and Loving It (1995),Comedy|Horror
11,13,Balto (1995),Animation|Children's
12,14,Nixon (1995),Drama
13,15,Cutthroat Island (1995),Action|Adventure|Romance
14,16,Casino (1995),Drama|Thriller
15,17,Sense and Sensibility (1995),Drama|Romance
16,18,Four Rooms (1995),Thriller
17,19,Ace Ventura: When Nature Calls (1995),Comedy
18,20,Money Train (1995),Action
19,21,Get Shorty (1995),Action|Comedy|Drama
20,22,Copycat (1995),Crime|Drama|Thriller
21,23,Assassins (1995),Thriller
22,24,Powder (1995),Drama|Sci-Fi
23,25,Leaving Las Vegas (1995),Drama|Romance
24,26,Othello (1995),Drama
25,27,Now and Then (1995),Drama
26,28,Persuasion (1995),Romance
27,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
28,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
29,31,Dangerous Minds (1995),Drama
...,...,...,...
3852,3923,Return of the Fly (1959),Horror|Sci-Fi
3853,3924,Pajama Party (1964),Comedy
3854,3925,Stranger Than Paradise (1984),Comedy
3855,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3856,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3857,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3858,3929,"Bank Dick, The (1940)",Comedy
3859,3930,"Creature From the Black Lagoon, The (1954)",Horror
3860,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3861,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3862,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3863,3934,Kronos (1957),Sci-Fi
3864,3935,Kronos (1973),Horror
3865,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3866,3937,Runaway (1984),Sci-Fi|Thriller
3867,3938,"Slumber Party Massacre, The (1982)",Horror
3868,3939,"Slumber Party Massacre II, The (1987)",Horror
3869,3940,"Slumber Party Massacre III, The (1990)",Horror
3870,3941,Sorority House Massacre (1986),Horror
3871,3942,Sorority House Massacre II (1990),Horror
3872,3943,Bamboozled (2000),Comedy
3873,3944,Bootmen (2000),Comedy|Drama
3874,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3875,3946,Get Carter (2000),Action|Drama|Thriller
3876,3947,Get Carter (1971),Thriller
3877,3948,Meet the Parents (2000),Comedy
3878,3949,Requiem for a Dream (2000),Drama
3879,3950,Tigerland (2000),Drama
3880,3951,Two Family House (2000),Drama
3881,3952,"Contender, The (2000)",Drama|Thriller

In [64]:
data=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\users.csv',sep="::")

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [65]:
data

         1  F  1.1  10  48067
0        2  M   56  16  70072
1        3  M   25  15  55117
2        4  M   45   7  02460
3        5  M   25  20  55455
4        6  F   50   9  55117
5        7  M   35   1  06810
6        8  M   25  12  11413
7        9  M   25  17  61614
8       10  F   35   1  95370
9       11  F   25   1  04093
10      12  M   25  12  32793
11      13  M   45   1  93304
12      14  M   35   0  60126
13      15  M   25   7  22903
14      16  F   35   0  20670
15      17  M   50   1  95350
16      18  F   18   3  95825
17      19  M    1  10  48073
18      20  M   25  14  55113
19      21  M   18  16  99353
20      22  M   18  15  53706
21      23  M   35   0  90049
22      24  F   25   7  10023
23      25  M   18   4  01609
24      26  M   25   7  23112
25      27  M   25  11  19130
26      28  F   25   1  14607
27      29  M   35   7  33407
28      30  F   35   7  19143
29      31  M   56   7  06840
...    ... ..  ...  ..    ...
6009  6011  M   35  15  80538
6010  6012  M   35  15  02871
6011  6013  F   25  20  32301
6012  6014  M   45   1  80634
6013  6015  F   25   9  80013
6014  6016  M   45   1  37209
6015  6017  F   35   7  21117
6016  6018  M   35   1  48906
6017  6019  M   25   0  10024
6018  6020  M   50  16  10023
6019  6021  M   25  12  08876
6020  6022  M   25  17  57006
6021  6023  M   25   0  43213
6022  6024  M   25  12  53705
6023  6025  F   25   1  32607
6024  6026  M   35   6  11210
6025  6027  M   18   4  20742
6026  6028  M   18   4  94133
6027  6029  F   25   1  23185
6028  6030  M   25  17  32618
6029  6031  F   18   0  45123
6030  6032  M   45   7  55108
6031  6033  M   50  13  78232
6032  6034  M   25  14  94117
6033  6035  F   25   1  78734
6034  6036  F   25  15  32603
6035  6037  F   45   1  76006
6036  6038  F   56   1  14706
6037  6039  F   45   0  01060
6038  6040  M   25   6  11106

[6039 rows x 5 columns]

In [66]:
data1=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\users.csv',sep="::")

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [67]:
data1

         1  F  1.1  10  48067
0        2  M   56  16  70072
1        3  M   25  15  55117
2        4  M   45   7  02460
3        5  M   25  20  55455
4        6  F   50   9  55117
5        7  M   35   1  06810
6        8  M   25  12  11413
7        9  M   25  17  61614
8       10  F   35   1  95370
9       11  F   25   1  04093
10      12  M   25  12  32793
11      13  M   45   1  93304
12      14  M   35   0  60126
13      15  M   25   7  22903
14      16  F   35   0  20670
15      17  M   50   1  95350
16      18  F   18   3  95825
17      19  M    1  10  48073
18      20  M   25  14  55113
19      21  M   18  16  99353
20      22  M   18  15  53706
21      23  M   35   0  90049
22      24  F   25   7  10023
23      25  M   18   4  01609
24      26  M   25   7  23112
25      27  M   25  11  19130
26      28  F   25   1  14607
27      29  M   35   7  33407
28      30  F   35   7  19143
29      31  M   56   7  06840
...    ... ..  ...  ..    ...
6009  6011  M   35  15  80538
6010  6012  M   35  15  02871
6011  6013  F   25  20  32301
6012  6014  M   45   1  80634
6013  6015  F   25   9  80013
6014  6016  M   45   1  37209
6015  6017  F   35   7  21117
6016  6018  M   35   1  48906
6017  6019  M   25   0  10024
6018  6020  M   50  16  10023
6019  6021  M   25  12  08876
6020  6022  M   25  17  57006
6021  6023  M   25   0  43213
6022  6024  M   25  12  53705
6023  6025  F   25   1  32607
6024  6026  M   35   6  11210
6025  6027  M   18   4  20742
6026  6028  M   18   4  94133
6027  6029  F   25   1  23185
6028  6030  M   25  17  32618
6029  6031  F   18   0  45123
6030  6032  M   45   7  55108
6031  6033  M   50  13  78232
6032  6034  M   25  14  94117
6033  6035  F   25   1  78734
6034  6036  F   25  15  32603
6035  6037  F   45   1  76006
6036  6038  F   56   1  14706
6037  6039  F   45   0  01060
6038  6040  M   25   6  11106

[6039 rows x 5 columns]

In [68]:
data

         1  F  1.1  10  48067
0        2  M   56  16  70072
1        3  M   25  15  55117
2        4  M   45   7  02460
3        5  M   25  20  55455
4        6  F   50   9  55117
5        7  M   35   1  06810
6        8  M   25  12  11413
7        9  M   25  17  61614
8       10  F   35   1  95370
9       11  F   25   1  04093
10      12  M   25  12  32793
11      13  M   45   1  93304
12      14  M   35   0  60126
13      15  M   25   7  22903
14      16  F   35   0  20670
15      17  M   50   1  95350
16      18  F   18   3  95825
17      19  M    1  10  48073
18      20  M   25  14  55113
19      21  M   18  16  99353
20      22  M   18  15  53706
21      23  M   35   0  90049
22      24  F   25   7  10023
23      25  M   18   4  01609
24      26  M   25   7  23112
25      27  M   25  11  19130
26      28  F   25   1  14607
27      29  M   35   7  33407
28      30  F   35   7  19143
29      31  M   56   7  06840
...    ... ..  ...  ..    ...
6009  6011  M   35  15  80538
6010  6012  M   35  15  02871
6011  6013  F   25  20  32301
6012  6014  M   45   1  80634
6013  6015  F   25   9  80013
6014  6016  M   45   1  37209
6015  6017  F   35   7  21117
6016  6018  M   35   1  48906
6017  6019  M   25   0  10024
6018  6020  M   50  16  10023
6019  6021  M   25  12  08876
6020  6022  M   25  17  57006
6021  6023  M   25   0  43213
6022  6024  M   25  12  53705
6023  6025  F   25   1  32607
6024  6026  M   35   6  11210
6025  6027  M   18   4  20742
6026  6028  M   18   4  94133
6027  6029  F   25   1  23185
6028  6030  M   25  17  32618
6029  6031  F   18   0  45123
6030  6032  M   45   7  55108
6031  6033  M   50  13  78232
6032  6034  M   25  14  94117
6033  6035  F   25   1  78734
6034  6036  F   25  15  32603
6035  6037  F   45   1  76006
6036  6038  F   56   1  14706
6037  6039  F   45   0  01060
6038  6040  M   25   6  11106

[6039 rows x 5 columns]

In [69]:
mov=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\movies.csv',header=None)

CParserError: Error tokenizing data. C error: Expected 1 fields in line 11, saw 2

In [70]:
data=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\movies.csv',header=None)

CParserError: Error tokenizing data. C error: Expected 1 fields in line 11, saw 2

In [71]:
data=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\movies.csv',sep="::")

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [72]:
data

,1,Toy Story (1995),Animation|Children's|Comedy
0,2,Jumanji (1995),Adventure|Children's|Fantasy
1,3,Grumpier Old Men (1995),Comedy|Romance
2,4,Waiting to Exhale (1995),Comedy|Drama
3,5,Father of the Bride Part II (1995),Comedy
4,6,Heat (1995),Action|Crime|Thriller
5,7,Sabrina (1995),Comedy|Romance
6,8,Tom and Huck (1995),Adventure|Children's
7,9,Sudden Death (1995),Action
8,10,GoldenEye (1995),Action|Adventure|Thriller
9,11,"American President, The (1995)",Comedy|Drama|Romance
10,12,Dracula: Dead and Loving It (1995),Comedy|Horror
11,13,Balto (1995),Animation|Children's
12,14,Nixon (1995),Drama
13,15,Cutthroat Island (1995),Action|Adventure|Romance
14,16,Casino (1995),Drama|Thriller
15,17,Sense and Sensibility (1995),Drama|Romance
16,18,Four Rooms (1995),Thriller
17,19,Ace Ventura: When Nature Calls (1995),Comedy
18,20,Money Train (1995),Action
19,21,Get Shorty (1995),Action|Comedy|Drama
20,22,Copycat (1995),Crime|Drama|Thriller
21,23,Assassins (1995),Thriller
22,24,Powder (1995),Drama|Sci-Fi
23,25,Leaving Las Vegas (1995),Drama|Romance
24,26,Othello (1995),Drama
25,27,Now and Then (1995),Drama
26,28,Persuasion (1995),Romance
27,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
28,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
29,31,Dangerous Minds (1995),Drama
...,...,...,...
3852,3923,Return of the Fly (1959),Horror|Sci-Fi
3853,3924,Pajama Party (1964),Comedy
3854,3925,Stranger Than Paradise (1984),Comedy
3855,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3856,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3857,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3858,3929,"Bank Dick, The (1940)",Comedy
3859,3930,"Creature From the Black Lagoon, The (1954)",Horror
3860,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3861,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3862,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3863,3934,Kronos (1957),Sci-Fi
3864,3935,Kronos (1973),Horror
3865,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3866,3937,Runaway (1984),Sci-Fi|Thriller
3867,3938,"Slumber Party Massacre, The (1982)",Horror
3868,3939,"Slumber Party Massacre II, The (1987)",Horror
3869,3940,"Slumber Party Massacre III, The (1990)",Horror
3870,3941,Sorority House Massacre (1986),Horror
3871,3942,Sorority House Massacre II (1990),Horror
3872,3943,Bamboozled (2000),Comedy
3873,3944,Bootmen (2000),Comedy|Drama
3874,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3875,3946,Get Carter (2000),Action|Drama|Thriller
3876,3947,Get Carter (1971),Thriller
3877,3948,Meet the Parents (2000),Comedy
3878,3949,Requiem for a Dream (2000),Drama
3879,3950,Tigerland (2000),Drama
3880,3951,Two Family House (2000),Drama
3881,3952,"Contender, The (2000)",Drama|Thriller

In [73]:
data1

         1  F  1.1  10  48067
0        2  M   56  16  70072
1        3  M   25  15  55117
2        4  M   45   7  02460
3        5  M   25  20  55455
4        6  F   50   9  55117
5        7  M   35   1  06810
6        8  M   25  12  11413
7        9  M   25  17  61614
8       10  F   35   1  95370
9       11  F   25   1  04093
10      12  M   25  12  32793
11      13  M   45   1  93304
12      14  M   35   0  60126
13      15  M   25   7  22903
14      16  F   35   0  20670
15      17  M   50   1  95350
16      18  F   18   3  95825
17      19  M    1  10  48073
18      20  M   25  14  55113
19      21  M   18  16  99353
20      22  M   18  15  53706
21      23  M   35   0  90049
22      24  F   25   7  10023
23      25  M   18   4  01609
24      26  M   25   7  23112
25      27  M   25  11  19130
26      28  F   25   1  14607
27      29  M   35   7  33407
28      30  F   35   7  19143
29      31  M   56   7  06840
...    ... ..  ...  ..    ...
6009  6011  M   35  15  80538
6010  6012  M   35  15  02871
6011  6013  F   25  20  32301
6012  6014  M   45   1  80634
6013  6015  F   25   9  80013
6014  6016  M   45   1  37209
6015  6017  F   35   7  21117
6016  6018  M   35   1  48906
6017  6019  M   25   0  10024
6018  6020  M   50  16  10023
6019  6021  M   25  12  08876
6020  6022  M   25  17  57006
6021  6023  M   25   0  43213
6022  6024  M   25  12  53705
6023  6025  F   25   1  32607
6024  6026  M   35   6  11210
6025  6027  M   18   4  20742
6026  6028  M   18   4  94133
6027  6029  F   25   1  23185
6028  6030  M   25  17  32618
6029  6031  F   18   0  45123
6030  6032  M   45   7  55108
6031  6033  M   50  13  78232
6032  6034  M   25  14  94117
6033  6035  F   25   1  78734
6034  6036  F   25  15  32603
6035  6037  F   45   1  76006
6036  6038  F   56   1  14706
6037  6039  F   45   0  01060
6038  6040  M   25   6  11106

[6039 rows x 5 columns]

In [74]:
data2=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv',sep="::")

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

IOError: [Errno 22] invalid mode ('r') or filename: 'C:\\Users\\BBY\\Desktop\\data_science\\ml-1m\ratings.csv'

In [75]:
data2=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

IOError: [Errno 22] invalid mode ('r') or filename: 'C:\\Users\\BBY\\Desktop\\data_science\\ml-1m\ratings.csv'

In [77]:
data2=pd.read_csv(r'C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [78]:
data2

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
5           1  1197  3  978302268
6           1  1287  5  978302039
7           1  2804  5  978300719
8           1   594  4  978302268
9           1   919  4  978301368
10          1   595  5  978824268
11          1   938  4  978301752
12          1  2398  4  978302281
13          1  2918  4  978302124
14          1  1035  5  978301753
15          1  2791  4  978302188
16          1  2687  3  978824268
17          1  2018  4  978301777
18          1  3105  5  978301713
19          1  2797  4  978302039
20          1  2321  3  978302205
21          1   720  3  978300760
22          1  1270  5  978300055
23          1   527  5  978824195
24          1  2340  3  978300103
25          1    48  5  978824351
26          1  1097  4  978301953
27          1  1721  4  978300055
28          1  1545  4  978824139
29          1   745  3  978824268
...       ...   ... ..        ...
1000179  6040  2762  4  956704584
1000180  6040  1036  3  956715455
1000181  6040   508  4  956704972
1000182  6040  1041  4  957717678
1000183  6040  3735  4  960971654
1000184  6040  2791  4  956715569
1000185  6040  2794  1  956716438
1000186  6040   527  5  956704219
1000187  6040  2003  1  956716294
1000188  6040   535  4  964828734
1000189  6040  2010  5  957716795
1000190  6040  2011  4  956716113
1000191  6040  3751  4  964828782
1000192  6040  2019  5  956703977
1000193  6040   541  4  956715288
1000194  6040  1077  5  964828799
1000195  6040  1079  2  956715648
1000196  6040   549  4  956704746
1000197  6040  2020  3  956715288
1000198  6040  2021  3  956716374
1000199  6040  2022  5  956716207
1000200  6040  2028  5  956704519
1000201  6040  1080  4  957717322
1000202  6040  1089  4  956704996
1000203  6040  1090  3  956715518
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [79]:
data2=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\users.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [80]:
data2

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
5        6  F  50   9  55117
6        7  M  35   1  06810
7        8  M  25  12  11413
8        9  M  25  17  61614
9       10  F  35   1  95370
10      11  F  25   1  04093
11      12  M  25  12  32793
12      13  M  45   1  93304
13      14  M  35   0  60126
14      15  M  25   7  22903
15      16  F  35   0  20670
16      17  M  50   1  95350
17      18  F  18   3  95825
18      19  M   1  10  48073
19      20  M  25  14  55113
20      21  M  18  16  99353
21      22  M  18  15  53706
22      23  M  35   0  90049
23      24  F  25   7  10023
24      25  M  18   4  01609
25      26  M  25   7  23112
26      27  M  25  11  19130
27      28  F  25   1  14607
28      29  M  35   7  33407
29      30  F  35   7  19143
...    ... ..  ..  ..    ...
6010  6011  M  35  15  80538
6011  6012  M  35  15  02871
6012  6013  F  25  20  32301
6013  6014  M  45   1  80634
6014  6015  F  25   9  80013
6015  6016  M  45   1  37209
6016  6017  F  35   7  21117
6017  6018  M  35   1  48906
6018  6019  M  25   0  10024
6019  6020  M  50  16  10023
6020  6021  M  25  12  08876
6021  6022  M  25  17  57006
6022  6023  M  25   0  43213
6023  6024  M  25  12  53705
6024  6025  F  25   1  32607
6025  6026  M  35   6  11210
6026  6027  M  18   4  20742
6027  6028  M  18   4  94133
6028  6029  F  25   1  23185
6029  6030  M  25  17  32618
6030  6031  F  18   0  45123
6031  6032  M  45   7  55108
6032  6033  M  50  13  78232
6033  6034  M  25  14  94117
6034  6035  F  25   1  78734
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [1]:
data

NameError: name 'data' is not defined

In [2]:
data1

NameError: name 'data1' is not defined

In [3]:
datau=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\users.csv',sep="::",header=None)

NameError: name 'pd' is not defined

In [4]:
import pandas as pd
datau=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\users.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [5]:
datau

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
5        6  F  50   9  55117
6        7  M  35   1  06810
7        8  M  25  12  11413
8        9  M  25  17  61614
9       10  F  35   1  95370
10      11  F  25   1  04093
11      12  M  25  12  32793
12      13  M  45   1  93304
13      14  M  35   0  60126
14      15  M  25   7  22903
15      16  F  35   0  20670
16      17  M  50   1  95350
17      18  F  18   3  95825
18      19  M   1  10  48073
19      20  M  25  14  55113
20      21  M  18  16  99353
21      22  M  18  15  53706
22      23  M  35   0  90049
23      24  F  25   7  10023
24      25  M  18   4  01609
25      26  M  25   7  23112
26      27  M  25  11  19130
27      28  F  25   1  14607
28      29  M  35   7  33407
29      30  F  35   7  19143
...    ... ..  ..  ..    ...
6010  6011  M  35  15  80538
6011  6012  M  35  15  02871
6012  6013  F  25  20  32301
6013  6014  M  45   1  80634
6014  6015  F  25   9  80013
6015  6016  M  45   1  37209
6016  6017  F  35   7  21117
6017  6018  M  35   1  48906
6018  6019  M  25   0  10024
6019  6020  M  50  16  10023
6020  6021  M  25  12  08876
6021  6022  M  25  17  57006
6022  6023  M  25   0  43213
6023  6024  M  25  12  53705
6024  6025  F  25   1  32607
6025  6026  M  35   6  11210
6026  6027  M  18   4  20742
6027  6028  M  18   4  94133
6028  6029  F  25   1  23185
6029  6030  M  25  17  32618
6030  6031  F  18   0  45123
6031  6032  M  45   7  55108
6032  6033  M  50  13  78232
6033  6034  M  25  14  94117
6034  6035  F  25   1  78734
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [6]:
datam=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\movies.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [7]:
datar=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\rates.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

IOError: [Errno 22] invalid mode ('r') or filename: 'C:\\Users\\BBY\\Desktop\\data_science\\ml-1m\rates.csv'

In [9]:
datar=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv',sep="::",header=None)

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

IOError: [Errno 22] invalid mode ('r') or filename: 'C:\\Users\\BBY\\Desktop\\data_science\\ml-1m\ratings.csv'

In [10]:
data

NameError: name 'data' is not defined

In [11]:
datau

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
5        6  F  50   9  55117
6        7  M  35   1  06810
7        8  M  25  12  11413
8        9  M  25  17  61614
9       10  F  35   1  95370
10      11  F  25   1  04093
11      12  M  25  12  32793
12      13  M  45   1  93304
13      14  M  35   0  60126
14      15  M  25   7  22903
15      16  F  35   0  20670
16      17  M  50   1  95350
17      18  F  18   3  95825
18      19  M   1  10  48073
19      20  M  25  14  55113
20      21  M  18  16  99353
21      22  M  18  15  53706
22      23  M  35   0  90049
23      24  F  25   7  10023
24      25  M  18   4  01609
25      26  M  25   7  23112
26      27  M  25  11  19130
27      28  F  25   1  14607
28      29  M  35   7  33407
29      30  F  35   7  19143
...    ... ..  ..  ..    ...
6010  6011  M  35  15  80538
6011  6012  M  35  15  02871
6012  6013  F  25  20  32301
6013  6014  M  45   1  80634
6014  6015  F  25   9  80013
6015  6016  M  45   1  37209
6016  6017  F  35   7  21117
6017  6018  M  35   1  48906
6018  6019  M  25   0  10024
6019  6020  M  50  16  10023
6020  6021  M  25  12  08876
6021  6022  M  25  17  57006
6022  6023  M  25   0  43213
6023  6024  M  25  12  53705
6024  6025  F  25   1  32607
6025  6026  M  35   6  11210
6026  6027  M  18   4  20742
6027  6028  M  18   4  94133
6028  6029  F  25   1  23185
6029  6030  M  25  17  32618
6030  6031  F  18   0  45123
6031  6032  M  45   7  55108
6032  6033  M  50  13  78232
6033  6034  M  25  14  94117
6034  6035  F  25   1  78734
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [12]:
datam

,0,1,2
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [13]:
datar

NameError: name 'datar' is not defined

In [17]:
data=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv',sep"::",header=None)

atings.csv does not exist

In [18]:
pd.read_table(C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv)

SyntaxError: invalid syntax (<ipython-input-18-d5510df91790>, line 1)

In [21]:
import pandas as pd
pd.read_table(C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv)

SyntaxError: invalid syntax (<ipython-input-21-51dc43a7b68d>, line 2)

In [23]:
pd.read_table(\ml-1m\ratings.csv)

SyntaxError: unexpected character after line continuation character (<ipython-input-23-968ee1d16d19>, line 1)

In [25]:
data=pd.read_table(\ml-1m\ratings.csv)

SyntaxError: unexpected character after line continuation character (<ipython-input-25-9f9774aedeb7>, line 1)

In [26]:
datam

,0,1,2
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [27]:
datau

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
5        6  F  50   9  55117
6        7  M  35   1  06810
7        8  M  25  12  11413
8        9  M  25  17  61614
9       10  F  35   1  95370
10      11  F  25   1  04093
11      12  M  25  12  32793
12      13  M  45   1  93304
13      14  M  35   0  60126
14      15  M  25   7  22903
15      16  F  35   0  20670
16      17  M  50   1  95350
17      18  F  18   3  95825
18      19  M   1  10  48073
19      20  M  25  14  55113
20      21  M  18  16  99353
21      22  M  18  15  53706
22      23  M  35   0  90049
23      24  F  25   7  10023
24      25  M  18   4  01609
25      26  M  25   7  23112
26      27  M  25  11  19130
27      28  F  25   1  14607
28      29  M  35   7  33407
29      30  F  35   7  19143
...    ... ..  ..  ..    ...
6010  6011  M  35  15  80538
6011  6012  M  35  15  02871
6012  6013  F  25  20  32301
6013  6014  M  45   1  80634
6014  6015  F  25   9  80013
6015  6016  M  45   1  37209
6016  6017  F  35   7  21117
6017  6018  M  35   1  48906
6018  6019  M  25   0  10024
6019  6020  M  50  16  10023
6020  6021  M  25  12  08876
6021  6022  M  25  17  57006
6022  6023  M  25   0  43213
6023  6024  M  25  12  53705
6024  6025  F  25   1  32607
6025  6026  M  35   6  11210
6026  6027  M  18   4  20742
6027  6028  M  18   4  94133
6028  6029  F  25   1  23185
6029  6030  M  25  17  32618
6030  6031  F  18   0  45123
6031  6032  M  45   7  55108
6032  6033  M  50  13  78232
6033  6034  M  25  14  94117
6034  6035  F  25   1  78734
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [28]:
datar

NameError: name 'datar' is not defined

In [29]:
datar=pd.read_csv('C:\Users\BBY\Desktop\data_science\ml-1m\ratings.csv',sep="::")

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

IOError: [Errno 22] invalid mode ('r') or filename: 'C:\\Users\\BBY\\Desktop\\data_science\\ml-1m\ratings.csv'

In [62]:
datar=pd.read_table('ratings.dat',sep='::',names=['user-id','movies-id','rating','timestamp'])

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [63]:
datar

         user-id  movies-id  rating  timestamp
0              1       1193       5  978300760
1              1        661       3  978302109
2              1        914       3  978301968
3              1       3408       4  978300275
4              1       2355       5  978824291
5              1       1197       3  978302268
6              1       1287       5  978302039
7              1       2804       5  978300719
8              1        594       4  978302268
9              1        919       4  978301368
10             1        595       5  978824268
11             1        938       4  978301752
12             1       2398       4  978302281
13             1       2918       4  978302124
14             1       1035       5  978301753
15             1       2791       4  978302188
16             1       2687       3  978824268
17             1       2018       4  978301777
18             1       3105       5  978301713
19             1       2797       4  978302039
20             1       2321       3  978302205
21             1        720       3  978300760
22             1       1270       5  978300055
23             1        527       5  978824195
24             1       2340       3  978300103
25             1         48       5  978824351
26             1       1097       4  978301953
27             1       1721       4  978300055
28             1       1545       4  978824139
29             1        745       3  978824268
...          ...        ...     ...        ...
1000179     6040       2762       4  956704584
1000180     6040       1036       3  956715455
1000181     6040        508       4  956704972
1000182     6040       1041       4  957717678
1000183     6040       3735       4  960971654
1000184     6040       2791       4  956715569
1000185     6040       2794       1  956716438
1000186     6040        527       5  956704219
1000187     6040       2003       1  956716294
1000188     6040        535       4  964828734
1000189     6040       2010       5  957716795
1000190     6040       2011       4  956716113
1000191     6040       3751       4  964828782
1000192     6040       2019       5  956703977
1000193     6040        541       4  956715288
1000194     6040       1077       5  964828799
1000195     6040       1079       2  956715648
1000196     6040        549       4  956704746
1000197     6040       2020       3  956715288
1000198     6040       2021       3  956716374
1000199     6040       2022       5  956716207
1000200     6040       2028       5  956704519
1000201     6040       1080       4  957717322
1000202     6040       1089       4  956704996
1000203     6040       1090       3  956715518
1000204     6040       1091       1  956716541
1000205     6040       1094       5  956704887
1000206     6040        562       5  956704746
1000207     6040       1096       4  956715648
1000208     6040       1097       4  956715569

[1000209 rows x 4 columns]

In [36]:
datau=pd.read_table('users.dat',sep='::')

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [37]:
datau

         1  F  1.1  10  48067
0        2  M   56  16  70072
1        3  M   25  15  55117
2        4  M   45   7  02460
3        5  M   25  20  55455
4        6  F   50   9  55117
5        7  M   35   1  06810
6        8  M   25  12  11413
7        9  M   25  17  61614
8       10  F   35   1  95370
9       11  F   25   1  04093
10      12  M   25  12  32793
11      13  M   45   1  93304
12      14  M   35   0  60126
13      15  M   25   7  22903
14      16  F   35   0  20670
15      17  M   50   1  95350
16      18  F   18   3  95825
17      19  M    1  10  48073
18      20  M   25  14  55113
19      21  M   18  16  99353
20      22  M   18  15  53706
21      23  M   35   0  90049
22      24  F   25   7  10023
23      25  M   18   4  01609
24      26  M   25   7  23112
25      27  M   25  11  19130
26      28  F   25   1  14607
27      29  M   35   7  33407
28      30  F   35   7  19143
29      31  M   56   7  06840
...    ... ..  ...  ..    ...
6009  6011  M   35  15  80538
6010  6012  M   35  15  02871
6011  6013  F   25  20  32301
6012  6014  M   45   1  80634
6013  6015  F   25   9  80013
6014  6016  M   45   1  37209
6015  6017  F   35   7  21117
6016  6018  M   35   1  48906
6017  6019  M   25   0  10024
6018  6020  M   50  16  10023
6019  6021  M   25  12  08876
6020  6022  M   25  17  57006
6021  6023  M   25   0  43213
6022  6024  M   25  12  53705
6023  6025  F   25   1  32607
6024  6026  M   35   6  11210
6025  6027  M   18   4  20742
6026  6028  M   18   4  94133
6027  6029  F   25   1  23185
6028  6030  M   25  17  32618
6029  6031  F   18   0  45123
6030  6032  M   45   7  55108
6031  6033  M   50  13  78232
6032  6034  M   25  14  94117
6033  6035  F   25   1  78734
6034  6036  F   25  15  32603
6035  6037  F   45   1  76006
6036  6038  F   56   1  14706
6037  6039  F   45   0  01060
6038  6040  M   25   6  11106

[6039 rows x 5 columns]

In [7]:
import pandas as pd
datam=pd.read_table('movies.dat',sep='::',names=['movies-id','title','gernes'])

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [8]:
datam

,movies-id,title,gernes
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [64]:
datac=pd.concat([datam,datar])

In [ ]:
datac

In [ ]:
datac

In [45]:
datac=pd.concat([datam,datar])

In [65]:
datac

,gernes,movies-id,rating,timestamp,title,user-id
0,Animation|Children's|Comedy,1,NaN,NaN,Toy Story (1995),NaN
1,Adventure|Children's|Fantasy,2,NaN,NaN,Jumanji (1995),NaN
2,Comedy|Romance,3,NaN,NaN,Grumpier Old Men (1995),NaN
3,Comedy|Drama,4,NaN,NaN,Waiting to Exhale (1995),NaN
4,Comedy,5,NaN,NaN,Father of the Bride Part II (1995),NaN
5,Action|Crime|Thriller,6,NaN,NaN,Heat (1995),NaN
6,Comedy|Romance,7,NaN,NaN,Sabrina (1995),NaN
7,Adventure|Children's,8,NaN,NaN,Tom and Huck (1995),NaN
8,Action,9,NaN,NaN,Sudden Death (1995),NaN
9,Action|Adventure|Thriller,10,NaN,NaN,GoldenEye (1995),NaN
10,Comedy|Drama|Romance,11,NaN,NaN,"American President, The (1995)",NaN
11,Comedy|Horror,12,NaN,NaN,Dracula: Dead and Loving It (1995),NaN
12,Animation|Children's,13,NaN,NaN,Balto (1995),NaN
13,Drama,14,NaN,NaN,Nixon (1995),NaN
14,Action|Adventure|Romance,15,NaN,NaN,Cutthroat Island (1995),NaN
15,Drama|Thriller,16,NaN,NaN,Casino (1995),NaN
16,Drama|Romance,17,NaN,NaN,Sense and Sensibility (1995),NaN
17,Thriller,18,NaN,NaN,Four Rooms (1995),NaN
18,Comedy,19,NaN,NaN,Ace Ventura: When Nature Calls (1995),NaN
19,Action,20,NaN,NaN,Money Train (1995),NaN
20,Action|Comedy|Drama,21,NaN,NaN,Get Shorty (1995),NaN
21,Crime|Drama|Thriller,22,NaN,NaN,Copycat (1995),NaN
22,Thriller,23,NaN,NaN,Assassins (1995),NaN
23,Drama|Sci-Fi,24,NaN,NaN,Powder (1995),NaN
24,Drama|Romance,25,NaN,NaN,Leaving Las Vegas (1995),NaN
25,Drama,26,NaN,NaN,Othello (1995),NaN
26,Drama,27,NaN,NaN,Now and Then (1995),NaN
27,Romance,28,NaN,NaN,Persuasion (1995),NaN
28,Adventure|Sci-Fi,29,NaN,NaN,"City of Lost Children, The (1995)",NaN
29,Drama,30,NaN,NaN,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,NaN
...,...,...,...,...,...,...
1000179,NaN,2762,4.0,956704584.0,NaN,6040.0
1000180,NaN,1036,3.0,956715455.0,NaN,6040.0
1000181,NaN,508,4.0,956704972.0,NaN,6040.0
1000182,NaN,1041,4.0,957717678.0,NaN,6040.0
1000183,NaN,3735,4.0,960971654.0,NaN,6040.0
1000184,NaN,2791,4.0,956715569.0,NaN,6040.0
1000185,NaN,2794,1.0,956716438.0,NaN,6040.0
1000186,NaN,527,5.0,956704219.0,NaN,6040.0
1000187,NaN,2003,1.0,956716294.0,NaN,6040.0
1000188,NaN,535,4.0,964828734.0,NaN,6040.0
1000189,NaN,2010,5.0,957716795.0,NaN,6040.0
1000190,NaN,2011,4.0,956716113.0,NaN,6040.0
1000191,NaN,3751,4.0,964828782.0,NaN,6040.0
1000192,NaN,2019,5.0,956703977.0,NaN,6040.0
1000193,NaN,541,4.0,956715288.0,NaN,6040.0
1000194,NaN,1077,5.0,964828799.0,NaN,6040.0
1000195,NaN,1079,2.0,956715648.0,NaN,6040.0
1000196,NaN,549,4.0,956704746.0,NaN,6040.0
1000197,NaN,2020,3.0,956715288.0,NaN,6040.0
1000198,NaN,2021,3.0,956716374.0,NaN,6040.0
1000199,NaN,2022,5.0,956716207.0,NaN,6040.0
1000200,NaN,2028,5.0,956704519.0,NaN,6040.0
1000201,NaN,1080,4.0,957717322.0,NaN,6040.0
1000202,NaN,1089,4.0,956704996.0,NaN,6040.0
1000203,NaN,1090,3.0,956715518.0,NaN,6040.0
1000204,NaN,1091,1.0,956716541.0,NaN,6040.0
1000205,NaN,1094,5.0,956704887.0,NaN,6040.0
1000206,NaN,562,5.0,956704746.0,NaN,6040.0
1000207,NaN,1096,4.0,956715648.0,NaN,6040.0
1000208,NaN,1097,4.0,956715569.0,NaN,6040.0

In [50]:
srt1=pd.sort_values(by='rating',ascending=False)

AttributeError: 'module' object has no attribute 'sort_values'

In [52]:
srt1=pd.sort_values(by='rating', ascending=False)

AttributeError: 'module' object has no attribute 'sort_values'

In [54]:
import pandas as pd

In [66]:
srt1=datac.sort_values(by='rating', ascending=False)

In [67]:
srt1[:10]

       gernes  movies-id  rating    timestamp title  user-id
0         NaN       1193     5.0  978300760.0   NaN      1.0
241580    NaN       1233     5.0  974766946.0   NaN   1451.0
241592    NaN       1242     5.0  974759202.0   NaN   1451.0
679613    NaN       3421     5.0  965452027.0   NaN   4072.0
241588    NaN       1097     5.0  974762970.0   NaN   1451.0
241587    NaN        708     5.0  974763838.0   NaN   1451.0
241584    NaN       1094     5.0  974763334.0   NaN   1451.0
241581    NaN       1090     5.0  974768584.0   NaN   1451.0
241579    NaN       1231     5.0  975826665.0   NaN   1451.0
241595    NaN       2985     5.0  974763096.0   NaN   1451.0

datam

In [59]:
datamm

NameError: name 'datamm' is not defined

In [60]:
datam

,movies-id,title,gernes
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [61]:
pd.read_table

         user-id  movie-id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [1]:
srt1=pd.merge(datar,datam, on='movies-id')

NameError: name 'pd' is not defined

In [2]:
datam

NameError: name 'datam' is not defined

In [3]:
datam.describe()

NameError: name 'datam' is not defined

In [9]:
datam

,movies-id,title,gernes
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [10]:
datau

NameError: name 'datau' is not defined

In [11]:
datar=pd.read_table('ratings.dat',sep='::',names=['user-id','movies-id','rating','timestamp'])

C:\Users\BBY\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [12]:
datar

         user-id  movies-id  rating  timestamp
0              1       1193       5  978300760
1              1        661       3  978302109
2              1        914       3  978301968
3              1       3408       4  978300275
4              1       2355       5  978824291
5              1       1197       3  978302268
6              1       1287       5  978302039
7              1       2804       5  978300719
8              1        594       4  978302268
9              1        919       4  978301368
10             1        595       5  978824268
11             1        938       4  978301752
12             1       2398       4  978302281
13             1       2918       4  978302124
14             1       1035       5  978301753
15             1       2791       4  978302188
16             1       2687       3  978824268
17             1       2018       4  978301777
18             1       3105       5  978301713
19             1       2797       4  978302039
20             1       2321       3  978302205
21             1        720       3  978300760
22             1       1270       5  978300055
23             1        527       5  978824195
24             1       2340       3  978300103
25             1         48       5  978824351
26             1       1097       4  978301953
27             1       1721       4  978300055
28             1       1545       4  978824139
29             1        745       3  978824268
...          ...        ...     ...        ...
1000179     6040       2762       4  956704584
1000180     6040       1036       3  956715455
1000181     6040        508       4  956704972
1000182     6040       1041       4  957717678
1000183     6040       3735       4  960971654
1000184     6040       2791       4  956715569
1000185     6040       2794       1  956716438
1000186     6040        527       5  956704219
1000187     6040       2003       1  956716294
1000188     6040        535       4  964828734
1000189     6040       2010       5  957716795
1000190     6040       2011       4  956716113
1000191     6040       3751       4  964828782
1000192     6040       2019       5  956703977
1000193     6040        541       4  956715288
1000194     6040       1077       5  964828799
1000195     6040       1079       2  956715648
1000196     6040        549       4  956704746
1000197     6040       2020       3  956715288
1000198     6040       2021       3  956716374
1000199     6040       2022       5  956716207
1000200     6040       2028       5  956704519
1000201     6040       1080       4  957717322
1000202     6040       1089       4  956704996
1000203     6040       1090       3  956715518
1000204     6040       1091       1  956716541
1000205     6040       1094       5  956704887
1000206     6040        562       5  956704746
1000207     6040       1096       4  956715648
1000208     6040       1097       4  956715569

[1000209 rows x 4 columns]